includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level (strictest).
    level: 9

    ignoreErrors:
        # Add your ignored errors here if needed

    excludePaths:
        # - ./*/*/FileToBeExcluded.php
